v=2.14.1

N={{ item.network_name | default("servers") }}
E=UTF-8 (Unicode)
F=25
D=0
{% if item.irc_username is defined %}
U={{ item.irc_username }}
{% endif %}
{% if item.irc_password is defined %}
P={{ item.irc_password }}
{% endif %}
{% if item.irc_realname is defined %}
R={{ item.irc_realname }}
{% endif %}
{% if item.servers is defined %}
{% for server in item.servers %}
S={{ server }}
{% endfor %}
{% endif %}
{% if item.commands is defined %}
{% for command in item.commands %}
C={{ command }}
{% endfor %}
{% endif %}
{% if item.channels is defined %}
{% for channel in item.channels %}
J=#{{ channel }}
{% endfor %}
{% endif %}